body {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #eee; 
}

.rack-container {
    display: grid;
    grid-template-columns: 120px 320px 320px 1fr;
    grid-template-rows: 1200px;
    grid-column-gap: 15px;
    padding: 20px;
}


.rack-view {
    /* border: 1px solid black; */

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: repeat(50, 24px);
    /* grid-template-rows: repeat(48, max-content); */
}

.unit-num {
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
    justify-self: center;
    background-color: #505050;
    color: #ccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.rack-cover {
    grid-column: 1 / 4;
    background-color: #505050;
    color: #ccc;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif
}

.empty-unit-even {
    background-color: lightgray;
}

.empty-unit-odd {
    background-color: white;
}

.size-1u {
    grid-column-start: 2;
    grid-row-end: span 1;
}

.size-2u {
    grid-column-start: 2;
    grid-row-end: span 2;
}

.size-3u {
    grid-column-start: 2;
    grid-row-end: span 3;
}

.size-4u {
    grid-column-start: 2;
    grid-row-end: span 4;
}

.size-10u {
    grid-column-start: 2;
    grid-row-end: span 10;
}

.size-6u {
    grid-column-start: 2;
    grid-row-end: span 6;
}

.server1u-0 {
    background-image: url("../images/server_1u_front_0.svg");
    background-size: cover;
    line-height: 24px;
}

.server2u-0 {
    background-image: url("../images/server_2u_front_0.svg");
    background-size: cover;

}

.server1u-1 {
    background-image: url("../images/server_1u_front_1.svg");
    background-size: cover;

}

.server2u-1 {
    background-image: url("../images/server_2u_front_1.svg");
    background-size: cover;

}

.server3u-0 {
    background-image: url("../images/server_3u_front_0.svg");
    background-size: cover;

}

.server3u-1 {
    background-image: url("../images/server_3u_front_1.svg");
    background-size: cover;

}

.server4u-0 {
    background-image: url("../images/server_4u_front_0.svg");
    background-size: cover;

}

.server4u-1 {
    background-image: url("../images/server_4u_front_1.svg");
    background-size: cover;

}

.switch1u {
    background-image: url("../images/switch_1u_rear.svg");
    background-size: cover;
    /* color: #00a2ff !important; */

}

.switch2u {
    background-image: url("../images/switch_sfp_2u_rear.svg");
    background-size: cover;
    /* color: #002f4b !important; */
}

.blade-hp-c7000-10u {
    background-image: url("../images/hp_blade_c7000_front_chassis.svg");
    background-size: cover;
}

.blade-cisco-ucs-6u {
    background-image: url("../images/cisco_ucs_front_chassis.svg");
    background-size: cover;
}

.hardware {
    color: #fff;
    /* text-align: center; */
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.blade-hp-c7000-chassis-container {
    margin: 0 11px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(2, 100px);
}

.blade-cisco-ucs-chassis-container {
    margin: 0 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 30px);
}

.blade-cisco-ucs-ucsbladeserver-1 {
    background-image: url("../images/cisco_ucs_blade_server_1.svg");
    background-size: cover;
    text-align: left;
    /* border: 1px solid #000 !important; */
    cursor: default;
}

.blade-cisco-ucs-ucsbladeserver-0 {
    background-image: url("../images/cisco_ucs_blade_server_0.svg");
    background-size: cover;
    text-align: left;
    /* border: 1px solid #000 !important; */
    cursor: default;
}

.blade-hp-c7000-fullbladeserver-0 {
    background-image: url("../images/hp_blade_c7000_fullbladeserver_0.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    border: 1px solid #000;
    grid-column-end: span 2;
    cursor: default;
}

.blade-hp-c7000-fullbladeserver-1 {
    background-image: url("../images/hp_blade_c7000_fullbladeserver_1.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    border: 1px solid #000;
    grid-column-end: span 2;
    cursor: default;
}


.blade-hp-c7000-halfbladeserver-a-0 {
    background-image: url("../images/hp_blade_c7000_halfbladeserver_a_0.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    font-size: 0.5em;
    border: 1px solid #000;
    cursor: default;
}

.blade-hp-c7000-halfbladeserver-a-1 {
    background-image: url("../images/hp_blade_c7000_halfbladeserver_a_1.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    font-size: 0.5em;
    border: 1px solid #000;
    cursor: default;
}

.blade-hp-c7000-halfbladeserver-b-0 {
    background-image: url("../images/hp_blade_c7000_halfbladeserver_b_0.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    font-size: 0.5em;
    border: 1px solid #000;
    cursor: default;
}

.blade-hp-c7000-halfbladeserver-b-1 {
    background-image: url("../images/hp_blade_c7000_halfbladeserver_b_1.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    font-size: 0.5em;
    border: 1px solid #000;
    cursor: default;
}

.blade-hp-c7000-empty-slot {
    background-color: #333;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    grid-column-end: span 2;
}

.blade-cisco-ucs-empty-slot {
    background-color: #555;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
}

.use-hint .hw-tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: rgb(255, 238, 181);
    color: #000;
    /* text-align: center; */
    border-radius: 6px;
    padding: 5px;
    writing-mode: horizontal-tb;
    font-size: 18px;
  
    /* Position the tooltip */
    position: absolute;
    left: 115%;
    top: 0%;
    z-index: 1;
  }

.use-hint {
    border: 1px solid transparent;
    position: relative;
}

.use-hint:hover {
    border: 1px solid #00a2ff !important;
    background-size: cover;
}


.hardware div.hw-title {
    /* color: #cfcfcf; */
    padding: 1px;
    padding-left: 5px;
}

.blade.hp-c7000 div.hw-title {
    /* color: #cfcfcf; */
    padding: 1px;
    writing-mode: vertical-lr;
    font-size: 14px;
}

.blade.cisco-ucs div.hw-title {
    /* color: #cfcfcf; */
    padding: 1px;
    font-size: 16px;
}

.hw-ctr-24 {
    display: grid;
    grid-template-columns: 72px 180px;
    grid-template-rows: 24px;
    line-height: 22px;
}

.hw-ctr-48 {
    display: grid;
    grid-template-columns: 72px 160px;
    grid-template-rows: 48px;
    line-height: 46px;
}

.blade-ctr-1 {
    display: grid;
    grid-template-columns: 14px;
    grid-template-rows: 20px 40px 40px;
}

.blade-ctr-2 {
    display: grid;
    grid-template-columns: 28px;
    grid-template-rows: 20px 40px 40px;
}

.cisco-ucs-ctr-1 {
    display: grid;
    grid-template-columns: 40px 86px;
    grid-template-rows: 24px;
    
    /* line-height: 30px; */
}

.use-hint.focus {
    border: 1px solid #00a2ff;
}

.use-hint:hover .hw-tooltiptext {
    visibility: visible;
  }

.disk-ctr-1-4 {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: 20px;
    padding: 1px;
}

.disk-ctr-2-8 {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: 20px 20px;
    grid-column-gap: 1px;
    padding: 1px;
}

.blade .disk-ctr-2-2 {
    display: grid;
    grid-template-columns: 36px;
    grid-template-rows: 11px 11px;
    grid-row-gap: 2px;
    padding: 1px;
    writing-mode: vertical-lr;
    font-size: 8px;
}

.blade .disk-ctr-1-1 {
    display: grid;
    grid-template-columns: 36px;
    grid-template-rows: 11px;
    grid-column-gap: 1px;
    padding: 1px;
    writing-mode: vertical-lr;
    font-size: 10px;
}

.cisco-ucs .disk-ctr-1-2 {
    display: grid;
    grid-template-columns: 36px 36px;
    grid-template-rows: 14px;
    grid-column-gap: 1px;
    padding: 1px;
    /* font-size: 14px !important; */
}

.blade .disk-sata-ssd {
    background-color: #55c9ff;
    font-size: 9px;
    text-align: center;
    line-height: normal;
}

.blade .disk-sata-hdd {
    background-color: #3dc27f;
    font-size: 9px;
    text-align: center;
    line-height: normal;
}

.blade .disk-sas-hdd {
    background-color: #ff55aa;
    font-size: 9px;
    text-align: center;
    line-height: normal;
}

.blade .disk-sas-ssd {
    background-color: #aa8166;
    font-size: 9px;
    text-align: center;
    line-height: normal;
}

.disk-sata-ssd {
    background-color: #55c9ff;
    font-size: 14px;
    text-align: center;
    line-height: normal;
}

.disk-sata-hdd {
    background-color: #3dc27f;
    font-size: 14px;
    text-align: center;
    line-height: normal;
}

.disk-sas-hdd {
    background-color: #ff55aa;
    font-size: 14px;
    text-align: center;
    line-height: normal;
}

.disk-sas-ssd {
    background-color: #fff455;
    font-size: 14px;
    text-align: center;
    line-height: normal;
}

.tor1-view {
    /* border: 1px solid black; */

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 24px 1152px 24px;
    /* grid-template-rows: repeat(48, max-content); */
}

.tor1-switch {
    padding: 5px;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 350px) 86px;
    grid-row-gap: 0px;
    background-color: #ccc;
}

.tor1-module1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 1px;
    grid-template-rows: repeat(8, 42px);
}

.tor1-module2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 1px;
    grid-template-rows: repeat(8, 42px);
}

.tor1-module3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 1px;
    grid-template-rows: repeat(8, 42px);
}
.tor1-uplinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 1px;
    grid-template-rows: repeat(2, 42px);
    background-color: cornflowerblue;
}

.tor-switch-cover {
    grid-column: 1 / 4;
    background-color: #817e6e;
}

.tor-switch-edge {
    background-color: #817e6e;
}

.switch-port-top {
    background-image: url("../images/switch_port.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    writing-mode: vertical-lr;
    cursor: default;
}

.switch-port-bottom {
    background-image: url("../images/switch_port.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    writing-mode: vertical-lr;
    /* line-height: 40px; */
    cursor: default;
}

/* ----- DESKTOP STYLES ----- */

.tower-container {
    display: grid;
    grid-template-columns: 120px 324px 1fr;
    grid-template-rows: 756px;
    grid-column-gap: 15px;
}



.tower-container .tower-case {
    display: grid;
    grid-template-columns: 12px 300px 12px;
    grid-template-rows: 12px 732px 12px;
    background-color: #a0a4ad;
}

.tower-case .tower-view {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(6, 122px);
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    background-color: #aaa;
    grid-row-start: 2;
    grid-column-start: 2;
    cursor: default;
}

.tower-view .t-server-0 {
    background-color: #fff;
    border: 1px solid #bbb;
    text-align: center;
    background-image: url("../images/tower_0.svg");
    background-size: cover;
    color: #fff;
}

.tower-view .t-server-1 {
    background-color: #fff;
    border: 1px solid #bbb;
    text-align: center;
    background-image: url("../images/tower_1.svg");
    background-size: cover;
    color: #fff;
}

.tower-view .t-empty {
    background-color: #fff;
    border: 1px solid black;
    background-color: #555;
    color: #fff;
}

.tower-case .tower-col-left {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 122px);
    /* background-color: tomato; */
}

.tower-col-left .col-num {
    line-height: 122px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.tower-hw-ctr-1 {
    display: grid;
    grid-template-columns: 52px;
    grid-template-rows: 18px 100px;
    padding: 2px;
}

.tower-hw-ctr-1 .hw-title {
 font-size: 16px;
 font-weight: bold;
}

.tower-disk-ctr-1-6 {
    display: grid;
    grid-template-columns: 52px;
    grid-template-rows: repeat(6, 16px);
    padding: 1px;
}

.tower-disk-ctr-1-6 .disk-sata-ssd {
    background-color: #55c9ff;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    border: 1px solid black;
    border-top: none;
}

.tower-disk-ctr-1-6 .disk-sata-hdd {
    background-color: #3dc27f;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    border: 1px solid black;
    border-top: none;
}

.tower-disk-ctr-1-6 .disk-sas-hdd {
    background-color: #ff55aa;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    border: 1px solid black;
    border-top: none;
}

.tower-disk-ctr-1-6 .disk-sas-ssd {
    background-color: #fff455;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    border: 1px solid black;
    border-top: none;
}
