body {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #eee; 
}

.rack-container {
    display: grid;
    grid-template-columns: 120px 320px 320px 1fr;
    grid-template-rows: 1200px;
    grid-column-gap: 15px;
    padding: 20px;
}


.rack-view {
    /* border: 1px solid black; */

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: repeat(50, 24px);
    /* grid-template-rows: repeat(48, max-content); */
}

.unit-num {
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
    justify-self: center;
    background-color: #505050;
    color: #ccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.rack-cover {
    grid-column: 1 / 4;
    background-color: #505050;
    color: #ccc;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif
}

.empty-unit-even {
    background-color: lightgray;
}

.empty-unit-odd {
    background-color: white;
}

.size-1u {
    grid-column-start: 2;
    grid-row-end: span 1;
}

.size-2u {
    grid-column-start: 2;
    grid-row-end: span 2;
}

.size-10u {
    grid-column-start: 2;
    grid-row-end: span 10;
}

.server1u-0 {
    background-image: url("../images/server_1u_front_0.svg");
    background-size: cover;
    line-height: 24px;
}

.server2u-0 {
    background-image: url("../images/server_2u_front_0.svg");
    background-size: cover;

}

.server1u-1 {
    background-image: url("../images/server_1u_front_1.svg");
    background-size: cover;

}

.server2u-1 {
    background-image: url("../images/server_2u_front_1.svg");
    background-size: cover;

}

.switch1u {
    background-image: url("../images/switch_1u_rear.svg");
    background-size: cover;

}

.blade-hp-c7000-10u {
    background-image: url("../images/hp_blade_c7000_front_chassis.svg");
    background-size: cover;
}

.hardware {
    color: #fff;
    /* text-align: center; */
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.blade-hp-c7000-chassis-container {
    margin: 0 11px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(2, 100px);
}

.blade-hp-c7000-fullbladeserver-0 {
    background-image: url("../images/hp_blade_c7000_fullbladeserver_0.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    border: 1px solid #000;
    grid-column-end: span 2;
    cursor: default;
}

.blade-hp-c7000-fullbladeserver-1 {
    background-image: url("../images/hp_blade_c7000_fullbladeserver_1.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    border: 1px solid #000;
    grid-column-end: span 2;
    cursor: default;
}


.blade-hp-c7000-halfbladeserver-a-0 {
    background-image: url("../images/hp_blade_c7000_halfbladeserver_a_0.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    font-size: 0.5em;
    border: 1px solid #000;
    cursor: default;
}

.blade-hp-c7000-halfbladeserver-a-1 {
    background-image: url("../images/hp_blade_c7000_halfbladeserver_a_1.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    font-size: 0.5em;
    border: 1px solid #000;
    cursor: default;
}

.blade-hp-c7000-halfbladeserver-b-0 {
    background-image: url("../images/hp_blade_c7000_halfbladeserver_b_0.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    font-size: 0.5em;
    border: 1px solid #000;
    cursor: default;
}

.blade-hp-c7000-halfbladeserver-b-1 {
    background-image: url("../images/hp_blade_c7000_halfbladeserver_b_1.svg");
    background-size: cover;
    /* writing-mode: vertical-lr; */
    text-align: left;
    font-size: 0.5em;
    border: 1px solid #000;
    cursor: default;
}

.blade-hp-c7000-empty-slot {
    background-color: #333;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    grid-column-end: span 2;
}

.use-hint .hw-tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: rgb(255, 238, 181);
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    writing-mode: horizontal-tb;
    font-size: 18px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

.use-hint {
    border: 1px solid transparent;
}

.use-hint:hover {
    border: 1px solid #00a2ff;
    background-size: cover;
}


.hardware div.hw-title {
    /* color: #cfcfcf; */
    padding: 1px;
    padding-left: 5px;
}

.hw-ctr-24 {
    display: grid;
    grid-template-columns: 72px 180px;
    grid-template-rows: 24px;
    line-height: 22px;
}

.hw-ctr-48 {
    display: grid;
    grid-template-columns: 72px 160px;
    grid-template-rows: 48px;
    line-height: 46px;
}

.blade-ctr-1 {
    display: grid;
    grid-template-columns: 14px;
    grid-template-rows: 20px 40px 40px;
}

.blade-ctr-2 {
    display: grid;
    grid-template-columns: 28px;
    grid-template-rows: 20px 40px 40px;
}

.use-hint.focus {
    border: 1px solid #00a2ff;
}

.use-hint:hover .hw-tooltiptext {
    visibility: visible;
  }

.disk-ctr-1-4 {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: 20px;
    padding: 1px;
}

.disk-ctr-2-8 {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: 20px 20px;
    grid-column-gap: 1px;
    padding: 1px;
}

.disk-ssd {
    background-color: #55c9ff;
    font-size: 14px;
    text-align: center;
    line-height: normal;
}

.disk-hdd {
    background-color: #3dc27f;
    font-size: 14px;
    text-align: center;
    line-height: normal;
}

/* .rack-object {

} */

.tor1-view {
    /* border: 1px solid black; */

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 24px 1152px 24px;
    /* grid-template-rows: repeat(48, max-content); */
}

.tor1-switch {
    padding: 5px;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 350px) 86px;
    grid-row-gap: 0px;
    background-color: #ccc;
}

.tor1-module1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 1px;
    grid-template-rows: repeat(8, 42px);
}

.tor1-module2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 1px;
    grid-template-rows: repeat(8, 42px);
}

.tor1-module3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 1px;
    grid-template-rows: repeat(8, 42px);
}
.tor1-uplinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 1px;
    grid-template-rows: repeat(2, 42px);
    background-color: cornflowerblue;
}

.tor-switch-cover {
    grid-column: 1 / 4;
    background-color: #817e6e;
}

.tor-switch-edge {
    background-color: #817e6e;
}

.switch-port-top {
    background-image: url("../images/switch_port.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    writing-mode: vertical-lr;
    cursor: default;
}

.switch-port-bottom {
    background-image: url("../images/switch_port.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    writing-mode: vertical-lr;
    /* line-height: 40px; */
    cursor: default;
}
